{% extends 'base.html' %}

{% block content %}

<style> 
    .ingredient-form {
        border-bottom: 1px solid #000;
    }
</style>

{% if message  %}
    <p>{{ message }}</p>
{% endif %}

<div style='margin-top: 30px;'>
    <form action="." method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class='{% if field.field.required %}{{ form.required_css_class }}{% endif %}'>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}

            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            </div>
        {% endfor %}

        {% if formset %}
            <h3>Ingredients</h3>
            {{ formset.as_p }}

            {{ formset.management_form }}
            {% for field in form %}
                <div class='ingredient-form'>
                    {{ form.as_p }}
                </div>
            {% endfor %}

        {% endif %}

        <div style='margin-top: 10px;'><button type="submit">Save</button></div>
    </form>
</div>

{% endblock content %}
